@tailwind base;
@tailwind components;
@tailwind utilities;

/* To disable error overylay
due to excessive ESLint errors 
however you will be able to see 
errors in the console */
iframe#webpack-dev-server-client-overlay {
  display: none;
}

body {
  font-family: 'Inter', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

